<div class="container">
  <div class="row">
    <% @mixes.each do |mix| %>
      <div class="card w-50">
        <div class="card-body">
          <h5 class="card-title"><%= link_to mix.name, mix.url, target: "_blank" %></h5>
          <div class="row">
            <div class="col-sm-6">
              <% mix.tag_list.each do |tag| %>
                <%= link_to tag, mixes_path(tag: tag), :class => "btn btn-info" %>
              <% end %>
            </div>
            <div class="col-sm-6 text-right">
              <%= link_to 'delete', mix_path(mix), method: :delete, :class => "btn btn-warning" %>
              <%= link_to 'update', edit_mix_path(mix), :class => "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
